<header class="site-header" role="banner">

  <div class="wrapper">
    {%- include langs-selector.html -%}

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.data.settings.title | escape }}</a>

    
    <nav class="site-nav">

      <div class="trigger">

        {%- include navigation.html -%}

      </div>

    </nav>
    
  </div>
</header>
