---
layout: page
---

<p class="centered">
    {{ page.event_date }}
</p>

<p class="centered">
    {% if page.location.url %}
        <a href="{{ page.location.url }}" target="_blank">
            {{- page.location.name -}}
        </a>        
    {% else %}
        {{ page.location.name }}
    {% endif %}

    {% if page.location.directions %}
        ({{ page.location.directions }})
    {% endif %}
</p>

{% if page.location.place %}
    <p class="centered">
        {{ page.location.place }}
    </p>
{% endif %}

<div class="centered">
    <a class="btn btn-large" href="#register">{{ page.register_now }}</a>
</div>

<section class="page-section">

    {{ content }}

</section>

<section class="page-section section-program">

    <header class="section-header">
        <h1 class="section-title">
            {{ site.data.program.title }}
        </h1>
    </header>

    <div class="section-content">
    
        {% for item in site.data.program.items %}
            <p>
                <strong>{{ item.time }}</strong> {{ item.description }}
            </p>
        {% endfor %}

        {{ page.extra_info | markdownify  }}

    </div>

</section>

<section class="page-section section-program">

    <header class="section-header">
        <h1 class="section-title">
            {{ site.data.speakers.title }}
        </h1>
    </header>

    <div class="speakers">

        {% for speaker in site.data.speakers.items %}
            <div class="speaker">

                <div class="speaker-photo">
                    <img src="{{ speaker.photo | relative_url }}" alt="">
                </div>

                <div class="speaker-name">
                    {{ speaker.name }}
                </div>

                <div class="speaker-description">
                    {{ speaker.description }}
                </div>

            </div>        
        {% endfor %}

    </div>

</section>

<section class="page-section">

    <div class="col col-1-2 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23591.556260147277!2d-71.11136430134705!3d42.343705932926696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0febee848b%3A0xbce6f9a63000697b!2sJohn+B.+Hynes+Veterans+Memorial+Convention+Center!5e0!3m2!1sen!2sit!4v1513938738498" style="border: 0px none; pointer-events: none;" allowfullscreen="" frameborder="0" width="600" height="450"></iframe>
    </div>

    <div class="col col-1-2">
    
        <form id="register" name="register-form" class="register-form" method="POST" netlify>
        
            <input type="text" name="first-name" id="first-name" placeholder="{{ page.register_form.first_name_label }}*" required>
            <input type="text" name="last-name" id="last-name" placeholder="{{ page.register_form.last_name_label }}*" required>
            <input type="email" name="email" id="email" placeholder="{{ page.register_form.email_label }}*" required>
            <input type="text" name="company-name" id="company-name" placeholder="{{ page.register_form.company_name_label }}*" required>
            <input type="text" name="job-title" id="job-title" placeholder="{{ page.register_form.job_title_label }}*" required>

            <button class="btn btn-small" type="submit">{{ page.register_now }}</button>
        
        </form>
    
    </div>

</section>

<div class="centered big-font-size">
    {{ page.contact_message | markdownify }}
</div>